* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.bg-dark {
  background: #1f2937;
}

.bg-quote-seciton {
  background: #e5e7eb;
}

.btn,
.call-to-action {
  background: #3882f6;
  color: #fff;
}

header {
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .container > div {
  display: flex;
  justify-content: space-between;
  padding: 16px 8px;
  align-items: center;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  align-items: center;
}

header .logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 700;
}

header a,
.hero .secondary-text {
  color: #e5e7eb;
}

header a:hover {
  color: #fff;
}

.hero .main-text {
  color: #f9faf8;
  font-weight: 900;
  font-size: 48px;
}

.hero .secondary-text {
  font-size: 18px;
}

.information h2 {
  font-size: 36px;
  font-weight: 900px;
  color: #1f2937;
}
